.container{
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
}

.container h2{
    font-size: 1.9rem;
    margin-bottom: 50px;
    border-bottom: 5px solid #53c60b;
    width: fit-content;
}

.subcontainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

@media (max-width:900px){
    .container{
        padding: 20px;
    }
    .container h2{
        margin: auto;
        margin-bottom: 50px;
    }

    .subcontainer{
        justify-content: space-around;
    }

}

@media (max-width:600px){
    .container{
        padding: 10px;
    }
}